<ion-view view-title="User Profile">
  <ion-content class="padding">
    <div class="row responsive-md">
      <div class="col col-20 userData text-center">
        <div class="userImage" id="userImage">

        </div>
        <div class="userInformation">
          <h3> Name: {{ user.name  }}</h3>
          <h3> Contact Email: {{ user.email }}</h3>
          <h7> User since {{user.dateCreated | date:'yyyy-MM-dd' }}</h7>
        </div>

        <div>
          <input type = "file" id="uploadFile"/>
        </div>
        <div id="hidden-resizer" style="visibility: hidden"></div>
      </div>
      <div class="col col-80 placeholder">
        <div>
          <h1>
            Notifications
          </h1>
          <div>
            <ion-list>
              <ion-item ng-repeat="notification in user.notifications">
                <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{notification.taskId}}">{{notification.text}}</a></div>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div>
          <h1>
            My Listings
          </h1>
          <ion-list>
            <ion-item ng-repeat="task in user.pendingTasks">
              <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task}}">{{task}}</a></div>
            </ion-item>
          </ion-list>
        <div>
          <h1>
            Interested Listings
          </h1>
          <ion-list>
            <ion-item ng-repeat="task in user.interestedTasks">
              <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task}}">{{task}}</a></div>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
