<ion-view view-title="Banana Shampoo!">
    <ion-content class="padding">
        <div id="clouds">
            <div class="cloud x1"></div>
            <!-- Time for multiple clouds to dance around -->
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
            <div class="cloud x6"></div>
            <div style="width:400px;margin:0 auto; margin-top:-300px; ">
        <!--    <img src="../img/social-sharing.jpg" style="width: 90%; height:200px; margin-top: -100px;"> -->
                <div id="addUser-form" class="rowsign">
                    <form name="userSignInForm" novalidate>
                        <div class="form-group">
                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                            <h4 style="text-align: left; vertical-align: middle;font-family: monaco"><strong>Email</strong><span style="color:red;margin-right: 100px;">*</span></h4>
                            <hr>
                            <input type="email" class="form-control input-lg text-center" placeholder="Your Email" name="email" ng-model="formEmail.text" style="resize:horizontal; width:320px; text-align: center; vertical-align: middle;" required>
                            <p ng-show="userSignInForm.email.$invalid && !userSignInForm.email.$pristine" class="help-block" style="color:red; background-color: white; font-size: 1em; width: 320px; display: inline;">Please enter a valid email.</p>
                            <hr>
                            <h4 style="text-align: left; vertical-align: middle; font-family: monaco"><strong>Password</strong><span style="color:red;margin-right: 100px;">*</span></h4>
                            <hr>
                            <input type="password" class="form-control input-lg text-center" placeholder="Password" name="password" ng-model="formPassword.text" style="resize:horizontal; width:320px;" required>
                            <p ng-show="userSignInForm.password.$invalid && !userSignInForm.password.$pristine" class="help-block" style="color:red; background-color: white; font-size: 1em; width: 320px; display: inline;">The Password is required.</p>
                            <hr>
                        </div>


                        <!-- createUser() WILL CREATE NEW USERS -->
                        <button  type="submit" class="button button-balanced	button-full" ng-click="userSignIn()" ng-disabled="userSignInForm.$invalid">Log In</button>
                        <p ng-bind-html="UserSignedIn" class="help-block" style="color:white; background-color:green; font-size: 1.5em; width: 300px;"></p>
                        <p ng-bind-html="errorPopUp" class="help-block" style="color:red; background-color:white; font-size: 1em; width: 300px;"></p>
                        <hr>
                        <p>Not a member?</p>
                        <a class="button button-assertive button-full" ng-href="#/tab/signUp" style="background-color: #4cd964;">Sign Up</a>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
