<ion-view view-title="User Profile">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-20 userData">
        <div class="userImage">

        </div>
        <div class="userInformation">
          <h3> Name: {{ user.name  }}</h3>
          <h3> Contact Email: {{ user.email }}</h3>
          <h3> User since {{user.dateCreated | date:'yyyy-MM-dd' }}</h3>
        </div>
      </div>
      <div class="col placeholder">
        <div>
          <h1>
            Notifications
          </h1>
          <div class="single-item">
            <div>your content 1</div>
            <div>your content 2</div>
            <div>your content 3</div>
          </div>

        </div>
        <div>
          <h1>
            My Listings
          </h1>
        </div>
        <div>
          <h1>
            Interested Listings
          </h1>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
