<ion-view view-title="Post">
  <ion-content>
    <div style="margin-top: 45px">
    <form ng-submit="submitPost()">
      <ion-item>
        <input ng-model="name.text" placeholder="Title" style="width: 50%; margin-left: 25%; font-size: x-large;">
      </ion-item>
      <ion-item>
      <div style="float: right">
        <label>
          Category:
        </label>
        <select ng-model="category.text" style="font-size: large;">
          <option value = "Study">Study</option>
          <option value = "Sports">Sports</option>
          <option value = "Food">Food</option>
          <option value = "Exchange">Exchange</option>
          <option value = "Rent">Rent</option>
          <option value = "Travel">Travel</option>
        </select>
      </div>
      </ion-item>
      <ion-item>
        <textarea ng-model="description.text" placeholder="Post your content here ..." style="width: 80%; margin-left: 10%; min-height: 200px; font-size: large;">
        </textarea>
      </ion-item>
      <button type="submit" class="button button-block" style="font-size: large; border-radius: 5px; width: 20%; margin-left: 40%">Send</button>
    </ion-item>
    </form>
      </div>
  </ion-content>
</ion-view>
