<ion-view view-title="Post">
    <ion-content>
        <div style="margin-top: 45px;">
            <form name="userPostForm" novalidate>
                <p ng-bind-html="errorPopUp" class="help-block" style="color:white; background-color:red; font-size: 1.5em; width: 350px; text-align: center;"></p>
                <div class="form-group">
                    <ion-item>
                        <input type="text" ng-model="name.text" name="name" placeholder="Title" style="width: 50%; margin-left: 25%; font-size: x-large;" class="form-control input-lg text-center" required>
                        <p ng-show="userPostForm.name.$invalid && !userPostForm.name.$pristine" class="help-block" style="color:white; background-color: red; font-size: 1.5em; width: 350px; display: inline;">Please enter a valid Title.</p>
                    </ion-item>
                    <ion-item>
                        <div style="float: right">
                            <label>
                                Category:
                            </label>
                            <select ng-model="category.text" style="font-size: large;">
                                <option value="Study">Study</option>
                                <option value="Sports">Sports</option>
                                <option value="Food">Food</option>
                                <option value="Exchange">Exchange</option>
                                <option value="Rent">Rent</option>
                                <option value="Travel">Travel</option>
                            </select>
                        </div>
                    </ion-item>
                    <ion-item>
                        <textarea type="text" name="description" class="form-control input-lg" ng-model="description.text" placeholder="Post your content here ..." style="width: 80%; margin-left: 10%; min-height: 200px; font-size: large;" required>
                        </textarea>
                        <p ng-show="userPostForm.description.$invalid && !userPostForm.description.$pristine" class="help-block" style="color:white; background-color: red; font-size: 1.5em; width: 350px; display: inline;">Please enter a valid Description.</p>
                    </ion-item>
                </div>
                <button type="submit" class="button button-block" style="font-size: large; border-radius: 5px; width: 20%; margin-left: 40%; background-color: #66ffff" ng-disabled="userPostForm.$invalid" ng-click="submitPost()">Send</button>
            </form>
        </div>
    </ion-content>
</ion-view>
