/* Empty. Add your own CSS if you like */
.list {
/ / text-align: center;

/ / padding-left: 180 px;
/ / padding-right: 180 px;
/ / padding-top: 0 px;
  font-weight: bold;
}
.item{
  color:black;
}
.title{
  padding:0px;
  margin:0px;
  font-size:10pt;
  font-weight:bold;
}
.inner{
  margin: 0 auto;
}
